
<div class="card"><a class="card__link" href="http://u1155413.isp.regruhosting.ru/cars/9-toyota-tundra-crewmax-limited-2018"><img class="card__image lazy" alt="..." data-src="http://u1155413.isp.regruhosting.ru/storage/carsSeptember202083FMuxFfgg1d24d66546172d21b2ebdda0e01fdbb5.JPG"/></a>
  <div class="card__inner">
    <div class="card__body">
      <h4 class="card__title">TOYOTA TUNDRA CREWMAX LIMITED, 2018</h4>
      <p class="card__price">$ 19500</p>
      <button class="card__button">Заказать</button>
    </div>
  </div>
</div>