
<section>
  <div class="container">
    <div class="inner-text">
      <h1>Lorem ipsum dolor sit amet.</h1>
      <h2>Lorem ipsum dolor sit amet.</h2>
      <h3>Lorem ipsum dolor sit amet.</h3>
      <h4>Lorem ipsum dolor sit amet.</h4>
      <p>Lorem ipsum dolor sit amet.</p>
      <ul>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
      </ul>
      <p>Lorem ipsum dolor sit amet <a href="">consectetur adipisicing </a>elit. Tenetur, fuga.</p>
      <div class="block">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat beatae enim itaque tempore repudiandae voluptate dignissimos ratione eu.</p>
      </div>
      <div class="block"> 
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est maxime consectetur illo cum saepe ut provident ullam praesentium qui placeat?</p>
      </div>
      <div class="block">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo magni sunt delectus, autem aut dolore.</p>
      </div>
    </div>
  </div>
</section>