
<div class="container">
  <form class="index-tabs">
    <label class="index-tabs__label" for="index-tabs1">
      <input class="index-tabs__input" id="index-tabs1" data-tab="test_1" type="radio" name="index-tabs" checked="checked"/><span class="button index-tabs__button">Тест 1</span>
    </label>
    <label class="index-tabs__label" for="index-tabs2">
      <input class="index-tabs__input" id="index-tabs2" data-tab="elektrokary" type="radio" name="index-tabs"/><span class="button index-tabs__button">Электрокары</span>
    </label>
    <label class="index-tabs__label" for="index-tabs3">
      <input class="index-tabs__input" id="index-tabs3" data-tab="test_3" type="radio" name="index-tabs"/><span class="button index-tabs__button">Тест 3</span>
    </label>
  </form>
</div>