<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="http://u1155413.isp.regruhosting.ru/assets/css/bootstrap.min.css")
        link(rel="stylesheet", href="../css/head-style.css")
        link(rel="stylesheet", href="../css/all-styles.css")
        script(src="http://u1155413.isp.regruhosting.ru/assets/js/jquery.min.js")
        script(src="http://u1155413.isp.regruhosting.ru/assets/js/jquery.lazy.min.js")
        script(src="http://u1155413.isp.regruhosting.ru/assets/js/slick.min.js")
        script(src="../js/main.js")
    body(style="--btnColor: #FA2828;--mainColor: #1B4788;--bgColor: #ffffff;background: #808080; padding: 70px 0")
        .container(style="display: flex; flex-direction: column; align-items: flex-start")
            .card-wrapper
                each item in [1,2,3,4,5,6]
                    include card.pug
            include card-short.pug
            include benefits-card
            include benefits-card
        section
            include index-tabs
            .container
                .card-wrapper
                    include card.pug
                    include card.pug
                    include card.pug
                    include card.pug
                    include card.pug
                    include card.pug
                    include card.pug
                    include card.pug
                    include card.pug
        include contacts