section.breadcrumbs
    .container
        ul.breadcrumbs__list
            each item in ['Главная','2 страница','3 страница','4 страница','5 страница']
                li.breadcrumbs__item
                    a(href="").breadcrumbs__link=item