.card
  a.card__link(href="http://u1155413.isp.regruhosting.ru/cars/9-toyota-tundra-crewmax-limited-2018" style="")
    img.card__image.lazy(alt="..." data-src="http://u1155413.isp.regruhosting.ru/storage/cars\September2020\83FMuxFfgg1d24d66546172d21b2ebdda0e01fdbb5.JPG" style="")
  .card__inner
    .card__body
      h4.card__title TOYOTA TUNDRA CREWMAX LIMITED, 2018
      p.card__price $ 19500
      button.card__button Заказать
