.card.card--zoom
    a.card__link(href="#" style="")
        .card__tags
            span.card__tag.tag.tag--blue new
        img.card__image.lazy(alt="..." src="http://u1155413.isp.regruhosting.ru/storage/cars/September2020/kBAxgU849r7689e7bfbfd08d919ec6f7da25038a13.JPG" style="")
    ul.card-slider.card__slider(style="")
        li.card-slider__item
            img.card-slider__image(data-mysrc="http://u1155413.isp.regruhosting.ru/storage/cars/September2020/kBAxgU849r7689e7bfbfd08d919ec6f7da25038a13.JPG" alt="")
        li.card-slider__item
            img.card-slider__image(data-mysrc="http://u1155413.isp.regruhosting.ru/storage/cars/September2020/j7SeBZ03Dd01c44aa337303ace84935cf2bdbcfc9f.JPG" alt="")
        li.card-slider__item
            img.card-slider__image(data-mysrc="http://u1155413.isp.regruhosting.ru/storage/cars/September2020/e0YnjVGH4M43af8a33812bb501147f0bf40c31027a.JPG" alt="")
    .card__inner
        .card__body
            h4.card__title TOYOTA TUNDRA CREWMAX LIMITED, 2018 TOYOTA TUNDRA
            p.card__price $ 19500
            ul.card-list
                li.card-list__item
                    img.card-list__image(src="../icons/chassis.svg", alt="Привод иконка")
                    .card-list__text Задний
                li.card-list__item
                    img.card-list__image(src="../icons/calendar.svg", alt="Код выпуска иконка")
                    .card-list__text 2018
                li.card-list__item
                    img.card-list__image(src="../icons/speedometer.svg", alt="Пробег иконка")
                    .card-list__text 25200 км.
                li.card-list__item
                    img.card-list__image(src="../icons/gas-station.svg", alt="Тип топлива иконка")
                    .card-list__text Бензин
                li.card-list__item
                    img.card-list__image(src="../icons/car-engine.svg", alt="Обьем двигателя иконка")
                    .card-list__text 5.7 л.
                li.card-list__item
                    img.card-list__image(src="../icons/group.svg", alt="Количество владельцев")
                    .card-list__text 1
            p.card__text Машина находится на аукционе в США
            button.card__button Заказать
