section
    .container
        .inner-text
            h1 Lorem ipsum dolor sit amet.
            h2 Lorem ipsum dolor sit amet.
            h3 Lorem ipsum dolor sit amet.
            h4 Lorem ipsum dolor sit amet.
            p Lorem ipsum dolor sit amet.
            ul
                li Lorem ipsum dolor sit amet.
                li Lorem ipsum dolor sit amet.
                li Lorem ipsum dolor sit amet.
                li Lorem ipsum dolor sit amet.
            p Lorem ipsum dolor sit amet 
                a(href="") consectetur adipisicing 
                | elit. Tenetur, fuga.

            .block
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat beatae enim itaque tempore repudiandae voluptate dignissimos ratione eu.
            .block 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Est maxime consectetur illo cum saepe ut provident ullam praesentium qui placeat?
            .block
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo magni sunt delectus, autem aut dolore.