.container
    form.index-tabs
        button(data-id="1", type="button").button.index-tabs__button Тест 1
        button(data-id="2", type="button").button.index-tabs__button Электрокары
        button(data-id="3", type="button").button.index-tabs__button Тест 3