.container
    form.index-tabs
        label.index-tabs__label(for="index-tabs1")
            input#index-tabs1.index-tabs__input(data-tab="test_1" type="radio" name="index-tabs" checked="checked")
            span.button.index-tabs__button Тест 1
        label.index-tabs__label(for="index-tabs2")
            input#index-tabs2.index-tabs__input(data-tab="elektrokary" type="radio" name="index-tabs")
            span.button.index-tabs__button Электрокары
        label.index-tabs__label(for="index-tabs3")
            input#index-tabs3.index-tabs__input(data-tab="test_3" type="radio" name="index-tabs")
            span.button.index-tabs__button Тест 3