section#popupForm.popup(style="display: none")
  .container.popup__container
    .popup__inner(style="")
      form.form.popup__form(action="")
        h3.form__title Оставьте заявку и наш специалист свяжется с вами для консультации
        input.form__input(type="text" name="" placeholder="Ваше имя")
        input.form__input(type="tel" name="" placeholder="Ваш телефон")
        textarea.form__input(name="" cols="30" rows="10" type="text" placeholder="Ваш комментарий") Хочу спросить по поводу AUDI Q2 PREMIUM PLUS 2010...
        button.button.button--second.form__button(type="button") Отправить